.sidebar-container {
  width: 236px;
  height: 1024px;
  background-color: #ffffff;
  display: block;
  margin-top: 0.125em;
  border-radius: 5px;
}

.active-link {
  border-radius: 5px;
  background-color: rgba(55, 149, 106, 0.56);
}

img {
  margin-bottom: 4px;
}

.logo {
  margin-top: 20px;
}

.nav-item {
  margin-left: 10px;
  margin-top: 5px;
}

.nav-item-home {
  margin-top: 40px;
}

.nav-item-custom {
  padding-left: 20px;
  margin: 20px;
  height: 40px;
  width: 180px;
  font-size: 15px;
  color: hsla(0, 0%, 0%, 66%);
}

.nav-item-custom img {
  margin-right: 8px;
}
