.sidebar-container {
  width: 236px;
  height: 1024px;
  background-color: #ffffff;
  display: block;
  margin-top: 0.125em;
  border-radius: 5px;
}

.nav-item {
  margin-left: 20px;
  margin-top: 5px;
}

.nav-item-home {
  margin-top: 40px;
}

.nav-item-custom {
  margin-left: 30px;
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 66%);
}

.nav-item-custom img {
  margin-right: 8px;
}
