<nav aria-label="Page navigation example">
  <ul class="d-flex flex-row align-items-center justify-content-between pagination">
    <div class="row-per-page">Rows per page: 10</div>
    <div class="page-no">1-1 of 1</div>
    <li class="page-item">
      <a class="" href="#" aria-label="Previous">
        <img aria-hidden="true" src="./assets/icons/arrow-back.svg" />
      </a>
    </li>
    <li class="page-item">
      <a class="" href="#" aria-label="Next">
        <img aria-hidden="true" src="./assets/icons/arrow-next.svg" />
      </a>
    </li>
  </ul>
</nav>