.search-function-text {
  font-size: 1.25rem;
  margin: 20px 0 20px 20px; /* top right bottom left */
}

.search-bar {
  width: 1142px;
  height: 148px;
  background-color: #ffffff;
  margin: 20px 20px 20px 20px; /* top right bottom left */
  border-radius: 5px;
  .row {
    height: 148px;
  }
}

.search-field {
  color: hsla(0, 0%, 0%, 66%);
  margin: 0 20px 0;
}

.search-field-button button {
  margin-right: 15px;
  margin-bottom: 20px;
}

.form-control {
  width: 200px;
}

.search-result-text {
  font-size: 1.25rem;
  margin: 20px 0 0 20px; /* top right bottom left */
}

.search-result-table {
  width: 1142px;
  /* height: 148px; */
  background-color: #ffffff;
  margin: 20px 20px 20px 20px; /* top right bottom left */
  border-radius: 5px;
  overflow: hidden;
}

th,
td {
  padding-left: 20px;
  padding-right: 20px;
  color: hsla(0, 0%, 0%, 66%);
}

tr {
  height: 60px;
}

img.view-icon {
  margin-left: 10px;
}

.no-result-text {
  text-align: center; /* Vertically center */
}

.app-pagination {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

app-pagination {
  margin-right: 20px;
}
