/* You can add global styles to this file, and also import other style files */
:root {
  --app-background-color: #d9d9d9; /* Define a custom CSS variable for the background color */
}

body {
  background-color: var(
    --app-background-color
  ); /* Use the custom CSS variable for the background color */
}

@font-face {
  font-family: 'Josefin-Sans';
  src: url('assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Public-Sans';
  src: url('assets/fonts/Public_Sans/PublicSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Public-Sans", "sans-serif";
}