<div class="product-item">
  <div class="product-detail">
    <div class="product-detail-text">Product Detail</div>
    <div class="product-detail-info container-fluid">
      <div class="row">
        <div class="col-3 product-detail-field fw-bold">Product Code:</div>
        <div class="col-3 product-detail-value">
          {{ productItem?.productCode }}
        </div>
        <div class="col-3 product-detail-field fw-bold">Category Type:</div>
        <div class="col-3 product-detail-value">
          {{ productItem?.categoryType }}
        </div>
      </div>
      <div class="row">
        <div class="col-3 product-detail-field fw-bold">Product Name:</div>
        <div class="col-3 product-detail-value">
          {{ productItem?.productName }}
        </div>
        <div class="col-3 product-detail-field fw-bold">Company:</div>
        <div class="col-3 product-detail-value">{{ productItem?.company }}</div>
      </div>
      <div class="row">
        <div class="col-3 product-detail-field fw-bold">Spec ID:</div>
        <div class="col-3 product-detail-value">{{ productItem?.specId }}</div>
        <div class="col-3 product-detail-field fw-bold">SKU:</div>
        <div class="col-3 product-detail-value">{{ productItem?.sku }}</div>
      </div>
      <div class="row">
        <div class="col-3 product-detail-field fw-bold">Attribute:</div>
        <div class="col-3 product-detail-value">
          @for (item of productItem?.items; track item; let index = $index) {
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              value="{{ index }}"
              name="radio{{ index }}"
              id="radio{{ index }}"
              [(ngModel)]="itemIndex"
              #attributeRadio
            />
            <label class="form-check-label" for="radio{{ index }}"
              >{{ item.attribute }}
            </label>
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="item-detail">
    <div class="item-detail-text">Item Details</div>
    <!-- <div class="table-responsive"> -->
    <table class="item-detail-table table table-hover">
      <thead>
        <tr>
          <th class="align-middle fw-bold first-col" scope="col">No.</th>
          <th class="align-middle fw-bold" scope="col">Item Code</th>
          <th class="align-middle fw-bold" scope="col">Part</th>
          <th class="align-middle fw-bold" scope="col">Name</th>
          <th class="align-middle fw-bold" scope="col">Color</th>
          <th class="align-middle fw-bold" scope="col">Size</th>
          <th class="align-middle fw-bold" scope="col">Total</th>
          <!-- <th class="align-middle fw-bold" scope="col">Action</th> -->
        </tr>
      </thead>
      <tbody>
        @if (productItem) { @for (rawMaterial of
        productItem.items[itemIndex].rawMaterials; track rawMaterial; let index
        = $index) {
        <tr>
          <td class="align-middle first-col">
            {{ index }}
          </td>
          <td class="align-middle">
            {{ rawMaterial.code }}
          </td>
          <td class="align-middle">
            {{ rawMaterial.part }}
          </td>
          <td class="align-middle">
            {{ rawMaterial.name }}
          </td>
          <td class="align-middle">
            {{ rawMaterial.color }}
          </td>
          <td class="align-middle">
            {{ rawMaterial.size }}
          </td>
          <td class="align-middle">
            {{ rawMaterial.total + " " + rawMaterial.unit }}
          </td>
          <!-- <td class="align-middle">{{ "" }}</td> -->
        </tr>
        } }
      </tbody>
    </table>
  </div>
</div>